body{
     background: linear-gradient(to bottom right, royalBlue, cornflowerBlue, #d580ff, lightskyBlue, #d580ff, cornflowerBlue, royalBlue);
}

header {
  background-color: #d580ff;
  color: #660099;
  margin: auto;
  size: auto;
  text-align: center;
  font-family: sans-serif;
  
}

p {
  background-color: #eeeeee;
  opacity: 90%;
  color: darkBlue;
}

nav {
  font-weight: bold;
}

.logo2 {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
