header {
  background-color: #d580ff;
  color: #660099;
  margin: auto;
  size: auto;
  text-align: center;
  font-family: sans-serif;
  
}

nav {
  font-weight: bold;
}

.logo2 {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
